<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Form Submis</title>
</head>
<body>
	<form action="http://localhost:5000/form_submit" method="post">
		<label>ID: </label>
		<input type="text" name="id"><br>
		<label>Name: </label>
		<input type="text" name="name"><br>
		<label>Details: </label>
		<input type="text" name="details"><br>
		<button type="Submis" name="form_submit">SEND</button>
	</form>
</body>
</html>