<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <!-- for litel icon with title -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='CS-Logo-Fullin.png') }}">
</head>
<body>
    <p>I am a web begainer </p><br>
    <P>Hi! <strong>{{ name }} {{post_id}}</strong> Welcome to Web Development in python: </P>

    <script src="static/script.js"></script>
</body>
</html>